*{
  margin: 0px;
  padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
  background-color: #E5E5E5;
}

.pad-aside{
  padding: 0px 24px;
}
.pad-aside{
  padding: 0px 24px;
}
.pad-aside{
  padding: 0px 24px;
}

.header{
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: white;
  border-radius: 0px 0px 0px 50px;
  -webkit-border-radius: 0px 0px 0px 50px;
  -moz-border-radius: 0px 0px 0px 50px;
  -ms-border-radius: 0px 0px 0px 50px;
  -o-border-radius: 0px 0px 0px 50px;
}
.nav{
  display: flex;
  justify-content: space-between;
}

.introc-content{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 128px 0px;
  background-image: url("../assets/header-shapes\ mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  
}
.introc-content h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172B4D;

}

.introc-content p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;  
  color: #344563;
}
.introc-content h3{
  color: rgba(127, 140, 255, 1);

}

.social-icons{
  display: flex;
  gap: 12px;
  
}

.card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
  gap: 12px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin: 114px 0px;
}