*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.intro-section{ 
    background-image: url("../assets/header-shapes\ mobile.png");
    width: 100%;
    background-size: contain;
    position: absolute;
    top: 145px;
    height: 604px;

}


.header-inner{
    position: absolute;
    width: 100%;
    height: 48px;
    top: 44px;
    display: flex;
    justify-content: space-between;
}

.sp-btw-flex{ display: flex;}
.sp-btw-fle .heoader-log{
    width: 40px;
    height: 40px;
    left: 24px;
    top: cal(50% -40px/2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.header-mobile-icon{
    width: 40px;
    height: 40px;
    right: 24px;
    top: cal(50% -40px/2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}