* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: #E5E5E5;
}

.section-wrapper{
  border: 5px solid teal;
  background-color: red
}

.header-inner {
  display: flex;
  justify-content: space-between;
  
}

.heoader-log {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.header-mobile-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
}

.intro-section {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 114px 24px;
  background-image: url("../assets/header-shapes\ mobile.png");
  background-color: white;
  border: 5px solid red;
}

.intro-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-weight: 700;
}

.intro-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.let-connect-link { text-decoration: none; }
.let-connect-link:hover { color: aquamarine; }

.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons img { width: 15px; }
