*{
  margin: 0px;
  padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
  background-color: #E5E5E5;;
}

.pad-vet{
  padding: 16px 0px 0px 0px;
}
.pad-both{
  padding: 16px;
}
.pad-aside{
  padding: 0px 24px;
}

.margin-v-24{
  margin: 24px 0px;
}
.margin-h-24{
  margin: 0px 24px;
}

.header{
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: white;
  border-radius: 0px 0px 0px 50px;
  -webkit-border-radius: 0px 0px 0px 50px;
  -moz-border-radius: 0px 0px 0px 50px;
  -ms-border-radius: 0px 0px 0px 50px;
  -o-border-radius: 0px 0px 0px 50px;
}
.nav{
  display: flex;
  justify-content: space-between;
}

.introc-content{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 128px 0px;
  background-image: url("../assets/header-shapes\ mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  
}
.introc-content h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172B4D;

}

.introc-content p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;  
  color: #344563;
}
.introc-content h3{
  color: rgba(127, 140, 255, 1);

}

.social-icons{
  display: flex;
  gap: 12px;
  
}

.card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin: 114px 24px;
}

.card-wrapper h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.card-wrapper p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.canopy-list{
  display: flex;
  list-style-type: none;
  gap: 12px;
}
.canopy-list .card-empty-list{
  width: 8px;
  height: 8px;
  background: #C1C7D0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-self: center;
}

.canopy-list li:nth-child(1){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}
.canopy-list li:nth-child(3), .canopy-list li:nth-child(5){
  color: #7A869A;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tech-used{
  display: flex;
  gap: 8px;
}

.tech-used span{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #EBEBFF;
  border-radius: 8px;
  color: #6070FF;
}

.see-projects-btn{
  padding: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396DF2;
  background: rgba(57, 109, 242, 0);
  width: 50%;
  border: 2px solid #396DF2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.last-section{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #FFFFFF;
  padding: 114px 24px 314px 24px;
  border-radius: 0px 50px 0px 0px;
  -webkit-border-radius: 0px 50px 0px 0px;
  -moz-border-radius: 0px 50px 0px 0px;
  -ms-border-radius: 0px 50px 0px 0px;
  -o-border-radius: 0px 50px 0px 0px;
}

.last-section h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
color: #172B4D;
}

.last-section p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;
}

.last-section > h3{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #7F8CFF;
}

.language, .frameworks, .skills{
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  color: #000000;
}

.language-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.css, .js, .html{
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(247, 247, 249, 1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.language-list img{
  padding: 9px 12px
}



.footer-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(96, 112, 255, 1);
  background-image: url("../assets/contact\ form\ shapes-mobile.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  
}

.footer-text{
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}
.footer-text h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.footer-text p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #EBEBFF;
}



form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
form input{
  height: 25px;
  font-size: 17px;

}

form input, form textarea{
  padding: 15px 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #172B4D;
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
}

form textarea{
  font-size: 15px;

}

.footer-submit-btn{
  width: 50%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070FF;
  background: #FFFFFF;
  padding: 16px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer-horizontal-line{
  border: 5px solid #0D151E;
  border-radius: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}










